<section class="section" id="contact">

  <div class="contact-box">

    <p class="eyebrow">
      {{ i18n.t('contact.eyebrow') }}
    </p>

    <h2>
      {{ i18n.t('contact.title') }}
    </h2>

    <p class="description">
      {{ i18n.t('contact.description') }}
    </p>

    <div class="actions">

      <a href="mailto:you@example.com" class="btn primary large">
        {{ i18n.t('contact.email') }}
      </a>

      <a [href]="
          i18n.is('fr')
            ? 'assets/resume-fr.pdf'
            : 'assets/resume-en.pdf'
        " download class="btn large">
        {{ i18n.t('contact.resume') }}
      </a>

    </div>

  </div>

</section>